<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ValleyBread</title>
  <body>
    <div class="container-fluid">
      <div class='col-md-12'>
        <nav class="navbar navbar-default ">
          <div class='row'>
            <div class='col-md-8'>
              <span class="logo"><a href="/">TumbleWeed Bakehouse</a></span>
              </div>
              <div class='col-md-4'>
                  <h4 class="hide"><a href="/order">Order</a></h4>
                  <h4 class="hide"><a href="/customer">Customer</a></h4>
                  <h4><a href="/product">Product</a></h4>
                  <h4><a href="/product/new">New Product</a></h4>
              </div>
          </nav>
        </div>
      </div>

      @RenderBody()
    </div>
  </body>
</html>
