obj/
bin/
*.sqlite
*.lock
*.ide
/.vs/TumbleweedBakehouse.Solution/v15/Server/sqlite3/storage.ide-wal
/.vs/TumbleweedBakehouse.Solution/v15/Server/sqlite3/storage.ide-shm
*.json
*.user
*.suo
*.dtbcache
*.ide-shm
*.ide-wal
