html, body {
  font-size: 20px;
  background-color: rgb(250, 250, 250, 0.9);
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  padding-top: 1em;
}

.container-fluid {
  /* width: 100%; */
}

.logo {
  font-size: 2.5em;
  font-family: 'Charm', cursive;
  display: block;
}

.logo a:hover {
  font-size: 1.5em;
}

.logoimg {
  width: 95px;
  margin-bottom: 25px;
}

.navbar-inverse {
    background: rgb(0, 0, 0, 0.75);
}

nav {
  padding: .5em;
  background-image: url(/img/wheatpic.jpeg);
  background-size: cover;
  background-position: center;
}

nav h4{
  margin: 20px 10px 0;
  display: inline ;
  list-style: none;
  letter-spacing: 1px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.centernav {
  text-align: center;
}

label {
  display: block;
}

form {
  margin: 1em;
  border: 1px solid #333;
  border-radius: .5em;
  padding: .75em;
}

img {
  width: 100%;
  /* -webkit-filter: contrast(5);
  filter: contrast(5); */
  /* -webkit-filter: brightness(1); */
  /* filter: brightness(1), contrast(5); */
}

.products {
  /* width: 95%; */
  /* margin: auto; */
  border: 1px solid #333;
  /* height: 50%; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* align-content: space-around; */
}

.productGridItem {
  border: 1px solid #333;
  width: 30%;
  margin: 15px;
  padding: 0;
  text-align: center;
}

.hide {
  display: none;
}

.clickable  {
  cursor: pointer;
}
