html, body {
  font-size: 20px;
  background-color: rgb(250, 250, 250, 0.9);
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  padding: 1em 0 2em;
}

.logo {
  font-size: 3.5em;
  font-family: 'Caveat', cursive;
  display: block;
  letter-spacing: 1px;
}

.logo a:hover {
  font-size: 1.1em;
}

.logoimg {
  width: 95px;
  margin-bottom: 25px;
}

.navbar-inverse {
    background: rgb(0, 0, 0, 0.75);
}

nav {
  padding: .5em;
  /* background-image: url(/img/wheatpic.jpeg); */
  background-size: cover;
  background-position: center;
}

nav h4{
  margin: 20px 10px 0;
  display: inline ;
  list-style: none;
  letter-spacing: 1px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.centernav {
  text-align: center;
}

img {
  width: 100%;
}

img.splash {
  width: 95%;
  display: block;
  margin: auto;
  border: 1px solid #333;
  border-radius: 8px;
}

#showProduct {
  width: 50%;
  margin: auto;
}

.markets {
  width: 50%;
  float: left;
  margin: 0 10px 20px 0;
  border: 1px solid #333;
  border-radius: 8px;
}

label {
  display: block;
}

form {
  margin: 1em;
  border: 1px solid #333;
  border-radius: .5em;
  padding: .75em;
}

.products {
  width: 95%;
  margin: auto;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.productGridItem {
  border: 1px solid #333;
  border-radius: 5px;
  width: 30%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

article {
    width: 95%;
    margin: auto;
    text-align: justify;
}

iframe {
  display: inline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;    
    margin: 5px;
    border: 1px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}