html, body {
  font-size: 20px;
  background-color: rgb(250, 250, 250, 0.9);
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  /* color: #bbe7FF; */
  padding-top: 1em;
}

.logo {
  font-size: 1.5em;
}

.navbar-inverse {
    background: rgb(0, 0, 0, 0.75);
}

nav {
  padding: 1em;
}

ul {
  float: right;
  margin-right: 2em;
}

li {
  margin: 1em;
  display: inline ;
  list-style: none;
}

span a {
  /* color: #ccf8FF; */
  text-decoration: none;
}

a {
  /* color: #d86767; */
  text-decoration: none;
}

h1, h2 {
  /* color: #d86767; */
}

label {
  display: block;
}

form {
  margin: 1em;
  border: 1px solid #333;
  border-radius: .5em;
  padding: .75em;
}
