html, body {
  font-size: 20px;
  background-color: rgb(250, 250, 250, 0.9);
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  color: #bbe7FF;
  /* padding-top: 4em; */
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 8.333%);
  grid-template-rows:  repeat(12, 1fr);;
  background-size: cover;
}

.logo {
  font-size: 1.5em;
  margin: 1em;
}

nav {
  margin: 0;
  padding: 1em;
}

ul {
  float: right;
  display: inline;
  margin-right: 2em;
}

li {
  margin: 1em;
  display: inline ;
  list-style: none;
}

span a {
  color: #ccf8FF;
  text-decoration: none;
}

a {
  color: #d86767;
  text-decoration: none;
}

.navbar-inverse {
    background: rgb(0, 0, 0, 0.75);
}

#banner {
  grid-column: 5 / 8;
  grid-row: 2;
}

.index {
  background-image: url("");
}

h1, h2 {
  text-align: center;
  color: #d86767;
}
