@{
  Layout = "_Layout";
}
<div class='row'>

  <div class='col-md-4'>
    <h2>Customers</h2>
    <form class="" action="/customers" method="post">

    </form>
  </div>


  <div class='col-md-4'>
    <h2>Orders</h2>
    <form class="" action="/orders" method="post">

    </form>
  </div>


  <div class='col-md-4'>
    <h2>Products</h2>
    <form class="" action="/products" method="post">

    </form>
  </div>

</div>
