@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-4'>
  This is the splash page. We should have a really cool picture here, but nothing real complicated. Perhaps two buttons one will route to an edit page. the other will route to a page of products.
  </div>
<div class = "row">
  <div class = "col - lg - 6">
  <form action ="/admin">
  <button type ="submit" name="button">Click me to go to the admin page</button>
  </form>
  </div>
  <div class = "col - lg- 6">
  <form action = "product/">
  <button type = "submit" name = "button">Click me to see a view of available products</button>
</div>
</div>
