@{
  Layout = "_Layout";
}
<div class='row'>

  <div class='col-md-4'>
    <form class="" action="/customers" method="post">
      <h3>Customers</h3>
      <div class='form-group'>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">
      </div>
      <div class='form-group'>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName">
      </div>
      <div class='form-group'>
        <label for="phone">Phone Number</label>
        <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555">
      </div>
      <div class='form-group'>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="tumbleweedbakehouse@gmail.com">
      </div>
    </form>
  </div>


  <div class='col-md-4'>
    <form class="" action="/orders" method="post">
      <h3>Orders</h3>

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName">

    </form>
  </div>


  <div class='col-md-4'>
    <form class="" action="/products" method="post">
      <h3>Products</h3>

    </form>
  </div>

</div>
