@{
  Layout = "_Layout";
}
<article class="text">
  <p><img class="markets" src="/img/jesscolor.jpg" alt="photo of Tumbleweed Bakehouse owner/operator."> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</article>

<article>
  <p>Saturdays at Circle K Mill in La Jara</p>
<iframe class="markets" width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Circle+K+mill+la+jara+co&key=AIzaSyBN_VqfMcoxWTv8dN5Inqi8MX1xY4YKPHQ" allowfullscreen></iframe>
</article>

<article>
  <p>Tuesdays at Alamosa Farmer's Market</p>
<iframe class="markets" width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=alamosa%20farmers%20market&key=AIzaSyBN_VqfMcoxWTv8dN5Inqi8MX1xY4YKPHQ" allowfullscreen></iframe>
</article>
