@{
  Layout = "_Layout";
}
<div id='admin'>
    <h3>Welcome to Tumbleweed Bakehouse Admin.</h3>

    <button type="button" onClick="javascript:location.href ='/customer'">View Customers</button>
    <button type="button" onClick="javascript:location.href ='/order'">View Orders</button>
    <button type="button" onClick="javascript:location.href ='/product/new'">Add Products</button>
    <button type="button" onClick="javascript:location.href ='/product'">View Products</button>
      @* <p><a href="/customer">A button to the customer list</a></p>
      <p><a href="/order">A link to the view of the orders for the week</a></p>
      <p><a href="/product/new">A link to enter new products</a></p>
      <p><a href="/product">A link to view the current products so we can edit them</a></p> *@

  </div>
</div>
