@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-4'>
    Welcome to the admin page. Let's build this page up! First let's consider the things we will need:
    <br>
    <ul>
      <li><a href="/customer">A button to the customer list</a></li>
      <li><a href="/order">A link to the view of the orders for the week</a></li>
      <li><a href="/product/new">A link to enter new products</a></li>
      <li><a href="/product">A link to view the current products so we can edit them</a></li>
    </ul>
  </div>
</div>
