@{
  Layout = "_Layout";
}
<div id='admin'>
    <h3>Tumbleweed Bakehouse Admin</h3>

    <button type="button" onClick="javascript:location.href ='/customer'">View Customers</button>
    <button type="button" onClick="javascript:location.href ='/customer/new'">Add Customers</button>
    <button type="button" onClick="javascript:location.href ='/order'">View Orders</button>
    <button type="button" onClick="javascript:location.href ='/order/new'">Create New Order</button>
    <button type="button" onClick="javascript:location.href ='/product'">View Products</button>
    <button type="button" onClick="javascript:location.href ='/product/new'">Add Products</button>

  </div>
</div>
