@{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">ValleyBread</a></span>
    <ul>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <h1 id="banner">ValleyBread Index.cshtml</h1>
</div>
